:root {
    --bg-botao: #6D6C6E;
    --border-botao: solid 1px #888;
}

.botao {
    font-size: 1.4em;
    background-color: var(--bg-botao);
    border: none;
    border-right: var(--border-botao);
    border-bottom: var(--border-botao);
    outline: none;
}

.botao:active {
    background-color: #ccc;
}

.botao.double {
    grid-column: span 2;
}

.botao.triple {
    grid-column: span 3;
}

.botao.operacao {
    background-color: #fa8231;
    color: #fff;
}

.botao.operacao:active {
    background-color: #fa8231cc;
}